@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Raleway', 'sans-serif';
}

html {
    scroll-behavior: smooth;
}

.row, .services__row, .hero__row, .contact__row, .testimonials__row, .works__row {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.container, .testimonials__container {
    padding: 56px 16px;
}

a {
    color: #242424;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

i {
    color: gold;
    font-size: 26px;
    padding: 8px;
}

h2 {
    color: #242424;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 12px;
}

span {
    color: gold;
    font-weight: 700;
}

.white__span--text {
    color: goldenrod;
    font-weight: 700;
}

.white__span {
    color: goldenrod;
    font-weight: 800;
}

.cta {
    color: white;
    border-bottom: 2px solid white;
    font-weight: bold;
}

.alt__link {
    color: goldenrod;
    font-weight: bold;
}


/* NAV */ 


nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link, .nav__link--primary {
    margin-left: 36px;
    transition: all ease 100ms;
}

.nav__link {
    font-weight: 600;
    font-size: 16px;
}

.nav__logo {
    max-width: 350px;
    width: 100%;
    padding: 8px;
}

.nav__link--primary {
    color: white;
    font-weight: 700;
    background-color: #242424;
    border-radius: 32px;
    padding: 14px;
    font-size: 18px;
}

.nav__link:hover {
    border-bottom: 2px solid goldenrod;
    color: goldenrod;
}

.nav__link--primary:hover {
    background-color: goldenrod;
}

.nav__btn {
    background-color: transparent;
    text-align: center;
    border: none;
    cursor: pointer;
    display: none;
}

.fa-bars {
    color: #242424;
    font-size: 40px;
    transition: all 300ms ease;
}

.fa-bars:hover {
    color: goldenrod;
}

.fa-times {
    color: white;
    font-size: 40px;
}

.nav__btn--close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}

.backdrop__list {
   display: flex;
   flex-direction: column;
}

.backdrop__link {
    color: white;
    font-size: 40px;
    padding: 36px 0;
    transition: all 300ms ease;
}

.backdrop__link:hover {
    color: gold;
}

.backdrop__link--primary {
    color: gold;
    font-weight: 700;
}

.backdrop__link--primary:hover {
    border-bottom: none;
}

.menu--open .menu__backdrop {
    display: flex;
}


/* HERO */ 


#hero { 
    height: calc(100% - 90px);
    color: white;
    text-align: center;
    background-color: #242424;
}

.hero__row {
    display: flex;
}

.slideshow {
    width: 100%;
    max-width: 800px;
    height: 650px;
    overflow: hidden;
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: 10px 15px 15px rgb(94, 69, 6);
}

.slideshow__wrapper {
    max-width: 800px;
    width: 100%;
    display: flex;
    animation: slide 32s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    9% {
        transform: translateX(0);
    }


    18% {
        transform: translateX(-100%);
    }

    27% {
        transform: translateX(-100%);
    }


    36% {
        transform: translateX(-200%);
    }

    45% {
        transform: translateX(-200%);
    }


    54% {
        transform: translateX(-300%);
    }

    63% {
        transform: translateX(-300%);
    }

    72% {
        transform: translateX(-400%);
    }

    81% {
        transform: translateX(-400%);
    }

    90% {
        transform: translateX(-500%);
    }

    110% {
        translate: transform (0%);
    }
}

.slideshow__img {
    width: 100%;
}

.hero__text {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 96px;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}

.hero__title {
    color: white;
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 16px;
}

.hero__button {
    color: #242424;
    font-weight: 600;
    background-color: gold;
    border-radius: 32px;
    padding: 16px;
    font-size: 20px;
    transition: all ease 200ms;
}

.hero__para {
    margin-bottom: 20px;
    margin-top: 8px;
    text-align: center;
    font-weight: 500;
    font-size: large;
}

.hero__button:hover {
    background-color: goldenrod;
    cursor: pointer;
}


/* SERVICES */ 


.services__title {
    color: #242424;
    margin-bottom: 24px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.services--wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    justify-content: center;
}

.service {
    max-width: calc(100% / 2.5);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 24px 32px;
}

.service__icon {
    color: goldenrod;
    font-size: 34px;
    margin-bottom: 4px;
}

.service__para {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.service__heading {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
}


/* FEATURES */ 


.features__text {
    text-align: center;
    margin-bottom: 12px;
}

.features--wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    margin-bottom: 36px;
}

.feature {
    width: calc(100% / 3);
    padding: 0 48px;
}

.feature__heading {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
}

.feature__para {
    font-weight: 400;
    font-size: 18px;
}

#contact {
    background-color: #242424;
    color: white;
}

.features__title {
    font-size: 35px;
    text-align: center;
    color: #242424;
    margin-bottom: 56px;
    margin-top: 32px;
}

.feature__icon {
    color: goldenrod;
    font-size: 32px;
    margin-bottom: 4px;
}

.features__container, .contact__container {
    padding: 56px 0;
}

.napit__span {
    border-bottom: #242424;
    color: #242424;
    font-weight: 500;
}

.features__img--wrapper {
    display: flex;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 36px;
}

.features__img {
    width: 100%;
    max-width: 1000px;
}


/* TESTIMONIALS */ 


#testimonials {
    background-color: #242424;
    color: white;
    position: relative;
}

.testimonials__container {
    padding: 56px;
    text-align: center;
}

.testimonials__title {
    text-align: center;
    font-size: 35px;
    margin: 8px 0 24px 0;
    color: white;
}

.testimonials__row {
    display: flex;
    align-items: center;
}

.testimonials__img {
    max-width: 450px;
    width: 100%;
    display: flex;
    margin-top: 16px;
    align-items: center;
}

.trade--check {
    margin-left: 126px;
    width: 320px;
    border-radius: 50%;
}

.testimonials__text {
    max-width: 850px;
    width: 100%;
    margin-top: 16px;
}

.testimonial {
    padding: 24px;
}

.reviewer {
    margin: 4px 0;
    font-weight: bold;
}

.star {
    color: gold;
    margin-top: 8px;
    margin-right: -10px;
}


/* CONTACT */ 


.contact__title {
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 700
}

.contact__row {
    display: flex;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 32px;
    justify-content: space-around;
}

.method {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.contact__para {
    margin-left: 12px;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 1px;
}

.contact__heading {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 56px;
    text-align: center;
}

.fa-id-card {
    font-size: 400px;
}

.methods--wrapper {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 86px;
}

.contact__left {
    width: 100%;
    max-width: 800px;
}

.contact__img {
    width: 100%;
}

.address, .phone, .email, .instagram, .facebook {
    font-size: 34px;
}


/* WORKS */ 


.works__title, .works__para {
    text-align: center;
}

.works__row {
    display: flex;
    justify-content: center;
}

.works__title, .testimonials__title, .services__title {
    font-weight: 700;
}

.works--column {
    display: flex;
    flex-direction: column;
    max-width: calc(100% / 3);
    width: 100%;
    padding: 0 64px;
}

.works--wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px;
    margin-bottom: 12px;
}

.works__para {
    padding: 16px 0;
    font-weight: 600;
}

.work {
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.work__icon {
    color: rgb(91, 211, 91);
}

.works__example {
    margin-left: 8px;
    font-weight: 500;
    font-size: 18px;
}


/* FOOTER */ 


#footer {
    background-color: #242424;
}

.footer__logo {
    max-width: 400px;
    width: 100%;
    filter: invert(0.86);
    margin-bottom: 24px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer__icons {
    display: flex;
    margin-top: 24px;
}

.copyright__text {
    font-size: 16px;
    color: white;
    margin: 8px 0;
}

.insta, .fb {
    color: white;
    font-size: 38px;
    margin-left: 32px;
}


/* RESPONSIVENESS */ 


@media (max-width: 768px) {
    .nav__list {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    .fa-bars {
        display: flex;
        font-size: 46px;
    }

    .nav__btn {
        display: flex;
        align-items: center;
    }

    .slideshow {
        max-height: 600px;
        height: fit-content;
    }

    .nav__logo {
        width: 100%;
        max-width: 350px;
    }
    
    .hero__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero__title {
        margin-top: 32px;
    }

    .hero__text {
        margin-left: 0;
        max-width: 500px;
        width: 100%;
    }

    .service {
        width: 100%;
        max-width: calc(100% / 2);
    }

    .testimonials__row {
        display: flex;
        flex-direction: column-reverse;
    }

    .trade--check {
        margin-left: 0;
        margin-top: 24px;
    }

    .feature {
        width: 100%;
        padding-bottom: 24px;
    }

    .features__img {
        max-width: 740px;
        width: 100%;
    }

    .contact__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .methods--wrapper {
        display: flex;
        text-align: center;
        margin: 0;
        margin-bottom: 24px;
    }

    .contact__img {
        margin-top: 32px;
        margin-bottom: 24px;
        width: 100%;
        max-width: 730px;
    }

    .method {
        display: flex;
        flex-direction: column;
        padding: 16px 0;
        align-items: center;
    }

    .contact__para {
        font-size: 32px;
    }

    .works--column {
        width: 100%;
        max-width: calc(100% / 1);
        padding: 0;
    }

    .works__example {
        font-size: 30px;
        margin-left: 0;
    }

    .works__wrapper {
        width: 100%;
        max-width: 730px;
        text-align: center;
    }

    .work {
        padding: 12px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .work__icon {
        font-size: 36px;
    }
}


@media (max-width: 545px) {
    .service, .testimonial {
        width: 100%;
        max-width: calc(100% / 1);
        padding: 24px 0;
    }

    .features__title, .testimonials__title, .services__title, .contact__heading {
        width: 100%;
        max-width: 520px;
        font-size: 35px;
        margin-bottom: 20px;
        text-align: center;
    }

    .method {
        width: 100%;
        max-width: 500px;
    }

    .contact__para {
        margin-left: 0;
    }

    .contact__row {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .address, .phone, .email, .instagram, .facebook {
        font-size: 28px;
    }

    .contact__para {
        font-size: 20px;
    }

    .methods--wrapper {
        margin-top: 16px;
        width: 100%;
        max-width: 500px;
    }

    .method, .contact__para {
        width: 100%;
        max-width: 500px;
    }

    .works--column {
        padding: 0;
    }
}


@media (max-width: 473px) {
    .hero__title {
        font-size: 30px;
    }

    .hero__text {
        width: 100%;
        max-width: 380px;
    }

    .hero__para {
        font-size: 16px;
    }

    .fa-bars {
        font-size: 32px;
    }
}

@media (max-width: 400px) {
    .hero__text {
        width: 100%;
        max-width: 390px;
    }

    .features__title, .testimonials__title, .services__title, .contact__heading {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .service__para, .feature__para {
        font-size: 14px;
    }

    .feature {
        padding: 0 16px 24px;
    }

    .feature__heading, .service__heading {
        font-size: 16px;
    }

    .service__icon, .feature__icon {
        font-size: 26px;
    }

    nav {
        align-items: center;
    }

    .hero__button {
        font-size: 16px;
    }
    
    .hero__title {
        font-size: 20px;
    }

    .hero__para {
        font-size: 12px;
    }

    .trade--check {
        width: 100%;
        max-width: 320px;
    }

    .testimonials__container {
        padding: 56px 16px;
    }

    .work__icon, .address, .phone, .email, .instagram, .facebook {
        font-size: 26px;
    }

    .works__example {
        font-size: 18px;
    }

    .copyright__text {
        font-size: 12px;
    }

    .insta, .fb {
        font-size: 26px;
        margin-left: 12px;
    }

    .contact__para {
        font-size: 14px;
    }
}